services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      MYSQL_HOST: db
      MYSQL_PORT: 3306
      MYSQL_USER: root  
      MYSQL_PASSWORD: password  
      MYSQL_DB: nestjs_db
    depends_on:
      db:
        condition: service_healthy
    restart: always

  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: password 
      MYSQL_DATABASE: nestjs_db 
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-ppassword"]
      start_period: 10s
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always

volumes:
  db_data:
